

.menuprincipal{width: 100%; height: auto; display:  flex;   background: white; box-shadow: 0px 0px 4px 2px black;  overflow: hidden;   top: 0; left: 0; }
.logo{width: 20%; height: auto;float:  left;}
.cajoBotones{width: 40%; height: auto; flex-direction: row; float:  left; text-align: center; }
.espacio{width: 40%;}
.botones{ color: #FF017E; font-size: 2vw; width: auto; height: 100%; font-weight: 400; cursor: pointer; font-family: Bahnschrift; background: transparent; border: 0px; outline: none;
         }
.botones:hover{ background: #FF017E; color: white; outline: none; border: 0px; }